<!DOCTYPE html>
<html>

<style>
    #clip {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .content {
        position: fixed;
        bottom: 12vw;
        color: #f1f1f1;
        left: 0;
    }

    #by {
        font-family: Arial;
        font-size: 1.5vw;
        -webkit-text-stroke: 0.08vw black;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 0 0.2vw 0.2vw 0;
        padding: 0.2vw;
    }

</style>

<body bgcolor="black">
    <video id="clip" width="100%" height="100%" autoplay>
        <source type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="content">
        <h1 id="by"></h1>
    </div>

    <script>
        const clips = <%- JSON.stringify(clips) %>;
        let lastClip;

        const clip = document.getElementById('clip');
        const by = document.getElementById('by');

        clip.addEventListener('ended', random, false);

        function play(source) {
            clip.setAttribute('src', source);
            clip.volume = 1
        }

        random()
        function random() {
            by.innerHTML = ''
            const clip = clips[Math.floor(Math.random() * clips.length)]
            if (lastClip === clip.id) return random()

            lastClip = clip.id
            setTimeout(() => {
                by.innerHTML = `Clipped by <span style="color: #9146ff">${clip.by.length > 15 ? `${clip.by.substring(0, 15)}..` : clip.by}</span>`
                play(`https://clips-media-assets2.twitch.tv/${clip.id}.mp4`);
            }, 300);
        }
    </script>
</body>

</html>
